.inner-image{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.inner-image::after {
  content: "";
  position: absolute;
  inset: 0; /* phủ toàn bộ  = top:0; right:0; bottom:0; left:0 */
  background: rgba(194, 166, 182, 0.2);
}
.inner-image img{
  height: 100%;
  width: auto;
}
.inner-login {
  display: flex;
  height: 100vh;
}


.login {
  max-width: 350px;
  width: 100%;

}
.login .inner-desc{
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
}

.title {
  font-size: 30px; 
  font-weight: 500;  
  margin-bottom: 20px; 
  text-align: center;
  color: var(--color-text);
}

form label {
  display: block;  
  margin-bottom: 6px;
  font-weight: 500; 
  color:var(--color-text);  
}

form input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}
 
.buttonSetup{
  display: flex;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  margin-top: 30px;
  background: var(--button-backgorund-color);
  color:#fff;
  font-size: 16px;
}

.forgetpassword{
  display: block;
  float:right;
  margin-right: 0;
  margin-top: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.forgetpassword:hover {
  text-decoration: underline; /* hiệu ứng hover */
}